.suffix {
    position: absolute;
    left: 26px;
    top: 67%;
    transform: translateY(-50%);
    pointer-events: none;
    color: black;
    font-size: 16px;
  }

  .suffixCTCMob {
    position: absolute;
    right: 266px;
    top: 90%;
    transform: translateY(-50%);
    pointer-events: none;
    color: black;
  }
/* ---------new drive beigns--------- */
.dirveContainer {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    width: 55%;
    /* margin-left: 231px; */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;margin-top: 10px;
    display: flex
;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    width: 54%;
    /* margin-left: 231px; */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: -8px;
    overflow-x: hidden;
}
.dirvefirstRow {
    display: flex;
    /* gap: 160px; */
    flex-wrap: wrap;
    margin-top: -64px;
    justify-content: space-between;
  }
  .driveThirdRow{
    display: flex;
    /* gap: 160px; */
    flex-wrap: wrap;
    justify-content: space-between;
  } 
  .driveFourthRow{
    display: flex;
    /* gap: 160px; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .driveinput {
    width: 100%;
    height:23px;
    border-radius: 5px;
    margin-right: 24px;
  }
  
  
  .heading{
          margin-left:2px;
  }

.dirvesubContainer{
  width: 320px;
}
  .driveJobtitleFilterWrapper{
    background:#cacaca;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
            height: 105px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
            margin-right: 10px;
            width:97%;
}
.driveRadioRow{
    display: flex;
        /* width: 935px; */
        /* gap: 200px; */
        flex-wrap: wrap;
        justify-content: space-between;

}
@media (max-width: 1024px) {
    .dirveContainer{
     width: 70%;
    }

  }
  @media (max-width: 768px) {
    .dirveContainer{
     width: 90%;
    }

  }
  @media (max-width: 426px) {
    .dirveContainer{
        width: 81%;
        margin-bottom: -227px;
    }

  }

  @media (max-width: 600px) {
    .dirvefirstRow {
      gap: 20px;
    }

  }
  
  
  
/* --------------new drive ends-------- */
.driveDateContainer1{
    margin-top: 10px;
    font-weight: 800;
     display:flex; 
     justify-content:space-between;
     flex-wrap:wrap;
 }
 @media (max-width: 768px) {
    .driveDateContainer1 {
      gap: 20px;
    }

  }
 .DriveDate{
    border-radius:5px;
 }


.disable{
    margin-left: 10px;
    color:white;
    font-weight: 600;
    padding: 4px 7px ;
    align-content: center;
    border: none;
    border-radius: 3px;
    background-color:rgb(226, 225, 225);
    background:rgb(242, 244, 245);
    
}
.locationActive{
    margin-left: 10px;
    cursor: pointer;
    color:white;
    font-weight: 600;
    padding: 4px 7px ;
    align-content: center;
    border: none;
    border-radius: 3px;
    /* background-color: blue */
    background-color: rgb(40, 4, 99);

}

.JobAlerti {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: rgb(40, 4, 99);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  /* position: absolute; */
  text-align: center;
  /* left: 8.5%;
  top: -1%; */
}
.driveAlerti {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: rgb(40, 4, 99);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  /* position: absolute; */
  text-align: center;
  /* left: 14%;
  top: 30%; */
}

.jobIdesc {
  position: absolute;
  top: 30px;
  left: 0;
  width: 260px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
  z-index: 10;
}
.driveIdesc {
  position: absolute;
  top: 19px;
  left:0%;
    /* right: -128px; */
  width: 260px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
  z-index: 10;
}
.submitDeleteBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

@media(max-width:475px){
  .JobAlerti{
    left: 28%;
  }

  /* .jobIdesc {
  top: 18px;
    left: -95px;
  } */
  .driveIdesc {
    top: 17px;
    left: -96px;
  }

  .submitDeleteBtn {
    gap:0px;
    margin-left: -10%;
  }
}

@media(max-width:376px){
  .JobAlerti{
    left: 33%;
  }
}

@media(max-width:320px){
  .JobAlerti{
    left: 38%;
  }
}
/* .JobLocationFilter:hover{
    cursor: pointer;
    margin-left: 10px;
    cursor: pointer;
    color:white;
    font-weight: 600;
    padding: 4px 7px ;
    align-content: center;
    border: none;
    border-radius: 3px;
    background-color: rgb(40, 4, 99);
    transition: all 0.2s;
} */
/* ...........................for Filter..................... */
.JobtitleFilterWrapper{
    background:rgb(242, 244, 245);

    margin-left: 3px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
            height: 105px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
            margin-right: 10px;
}

.JobtitleFilterWrapper:hover{
    scrollbar-color:  rgb(40, 4, 99) white ;
}

.JobtitleFilter{
    /* margin-left: 5px;
    margin-top: 15px; */
    border: none;

    margin: 4px;
    cursor: pointer;
    color:black;
    font-weight: 550;
    font-size: xx-small;
    padding: 4px 7px ;
    align-content: center;
    text-wrap: nowrap ;
    background-color:white;
    border-radius: 3px;

}
/* .JobtitleFilter:hover{
    background-color: rgb(40, 4, 99);
    margin: 4px;
    cursor: pointer;
    color:white;
    font-weight: 550;
    font-size: xx-small;
    padding: 4px 7px ;
    align-content: center;
    text-wrap: nowrap ;
    border-radius: 3px;
} */

.active{
    background-color: rgb(40, 4, 99);
    color:white;
    margin: 4px;
    cursor: pointer;
    font-weight: 550;
    font-size: xx-small;
    padding: 4px 7px ;
    align-content: center;
    text-wrap: nowrap ;
    border-radius: 3px;
    border: none;

}
.TagHeading{
    background:rgb(228, 230, 231);
    margin: 4px;
    cursor: pointer;
    font-weight: 850;
    font-size: x-small;
    padding: 4px 7px ;
    align-content: center;
    text-wrap: nowrap ;
    border-radius: 3px;
    border: none;
    color: black;
}




.inputbox {
    -moz-appearance: textfield;
  }
  .inputbox::-webkit-inner-spin-button {
    display: none;
  }
  .inputbox::-webkit-outer-spin-button,
  .inputbox::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.searchButton{
    background-color: rgb(40, 4, 99);
    color: white;
    font-weight: bold;
    height: 40px;
    border:1px solid rgb(40, 4, 99);
    margin-left: 10%;
    border-radius: 5px;
    cursor: pointer;
    width:80px;
    margin-top: 50px;
    display: inline;

}


.backButton1{
  background-color: rgb(40, 4, 99);
  color: white;
  font-weight: bold;
  height: 40px;
  border:1px solid rgb(40, 4, 99);
  margin-left: 10%;
  border-radius: 5px;
  cursor: pointer;
  width:80px;
  /* margin-top: 50px; */
 /* display: inline; */

}
.GoBackButton{
    background-color: rgb(40, 4, 99);
    color: white;
    /* font-size:medium; */
    font-weight: bold;
    height: 40px;
    border:1px solid rgb(40, 4, 99);
    margin-left: 10%;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.logo{
    height:49px;
    width:49px;
    display: block;
    margin-left: 75%;
    margin-top: -45px;

}
.postJobPageWrapper{   
    
    margin-left: 10%;
    margin-right: 10%;
}
.hint{
    opacity:0.5;
    font-weight: 500;
}
.postJobWrapper{
    /* margin-left: 7%; */
    margin-right: 7%;  
    /* background-color: blue; */
    
}

.inputbox{
    height: 40px ;
    width : 100%;
     border-radius: 5px;
     border: 1px solid black;
     font-size: medium;    
     /* background-color: aqua; */
     margin-top: -10px;

    }
    .Otherinputbox{
        height: 40px ;
    width : 25%;
     border-radius: 5px;
     border: 1px solid black;
     font-size: medium;    
     /* background-color: aqua; */
     margin-top: 2px;
    }
    .jobHeadline{
        margin-top: 15px;
    margin-left: -0%; 
    font-weight: 800;

    }

.disableButton{
    border-radius:8px;
    background-color: rgb(83, 77, 94);
    width : 101%;   
    height: 40px;
    /* border: 1px solid rgb(40, 4, 99) ; */
    margin-top: 30px; 
    cursor:not-allowed;
    font-weight: 500;
    font-size:medium;
    text-align:center;
    color: white;
    margin-top: 27px;
    margin-bottom:10px

        }
.button{
    border-radius:8px;
    background-color: rgb(40, 4, 99);
    width : 101%;   
    height: 40px;
    border: 1px solid rgb(40, 4, 99) ;
    margin-top: 30px; 
    cursor: pointer;
    font-weight: 500;
    font-size:medium;
    text-align:center;
    color: white;
    margin-top: 27px;
    margin-bottom:10px

        }
        .successmessage{
            color: rgb(85, 156, 85);
            font-style: italic;
            margin-left: 68px;
            }
        .errormessage{
            color : red;
            font-style: italic;
            margin-left: 68px;
        }

        .helpHeading{
            margin-left: 230px;
        }
        @media  (max-width:1024px) {
            .helpHeading{
            margin-left:98px;
            }
        }

        @media  (max-width:768px) {
            .helpHeading{
            margin-left: 77px;
            }
        }

        @media  (max-width:475px) {
            .helpHeading{
            margin-left: 34px;
            }
        }